@font-face
{
	src: url(police/Karla-Regular.ttf);
	font-family: Karla;
}

body
{
	font-family: Karla;
	line-height: 1.6;
	box-sizing: border-box;
	margin: 0px;
}
/*Section Header*/
ul li
{
	display: inline;
	margin: 0 28px;
	letter-spacing: 0.4px;
}

a
{
	font-weight: 900;
	display: inline-block;
	cursor: pointer;
}

.header
{
	position: relative;
	font-size: 18px;
	height:100px;
}

.logo-studio-zerance
{
	height: auto;
	margin: 0px;
	float: left;
}

.text-header
{
	font-size: 20px;
	float: right;
	margin:  35px;
	display: inline-block;
}

.underline-animation:hover
{
	color:#ffcd1a;
}

.underline-animation::after
{
	content:'';
	display: block;
	width:0;
	height:3px;
	background:#ffcd1a;
	transition: width .3s;
	cursor:pointer;
}

.underline-animation:hover::after
{
	width:100%;
}

a
{
	text-decoration: none;
	color: #000;
}
/*Section Bannière*/

h2
{
	display: block;
	font-size: 1.5em;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

.studio-presentation
{
	text-align:center;
	width: 100%;
	position: relative;
	height:450px;
	padding-top:10%;
}

.studio-slogan
{
	margin: auto;
	max-width: 750px;
	font-size: 28px;
	font-weight: 1900;
}

.studio-zerance-birth
{
	margin: auto;
	max-width: 750px;
	font-size: 20px;
}

.underline
{
	background: url(https://cdn.shopify.com/s/files/1/0072/0561/7711/files/Calque_14.png?8187);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center 100%;
	overflow: visible;
}

.underline2
{
	background: url(https://cdn.shopify.com/s/files/1/0072/0561/7711/files/Calque_14.png?8187);
	background-size: 120%;
	background-repeat: no-repeat;
	background-position: center 260%;
	overflow: visible;
	font-size: 20px;
}
/*Section Portfolio*/

#clients-grid
{
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 33.33%  33.33%  33.33% ;
	width: 80%;
	margin: auto ;
	border: 60px black solid;
}

#clients
{
	background-color: black;
	color:white;
	text-align: center;
	border: 80px black solid;
	margin: auto ;
}

#clients-grid >div >a >img
{
	width:100%;
}

.great-customers
{
	margin:30px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/*Section slider*/
.slider-text
{
	position: absolute;
	top:30%;
	left:45%;
	width: 25%;
	max-width: 390px;
	max-height: 390px;
	background: #fff;
	padding: 1rem 2rem;
	box-sizing: border-box;
	z-index: 11;
	display: block;
	text-align: center;
	margin: auto;
}

.from-scratch
{
	font-weight: 100;
}

.see-more-button
{
	padding: 0;
	border: none;
	background: none;
}

.see-more :hover
{
	font-style: italic;
}

.slider-container
{
	overflow: hidden;
	width: 100%;
	margin: auto;
}

.slider
{
	display: flex;
	width: 100%;
	height:950px;
}

#nextBtn
{
	position: absolute;
	width: 20%;
	top:50%;
	left:68%;
	z-index: 99;
	font-size: 45px;
	color:black;
	cursor:pointer;
}

.container
{
	position: relative;
	width:100%;
	overflow: hidden;
}

.first-image
{
	width:100%;
}

.logo-header
{
	display: none;
}
/*Section Text Infinite*/

footer
{
	background-color: #ffcd1a;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}

.scroll
{
	display: flex;
	font-size: 18px;
	color:#ffffff;
	font-weight: 900;
	animation: animate 40s linear infinite;
	animation-delay:-20s;
	white-space: nowrap;
	position: relative;
}

.scroll2
{
	display: flex;
	font-size: 18px;
	color:#ffffff;
	font-weight: 900;
	animation: animate2 40s linear infinite;
	animation-delay:0s;
	white-space: nowrap;
	position: relative;
}

section
{
	display: flex;
	position:relative;
}

@keyframes animate
{
	0%
	{
		transform: translateX(100%);
	}

	100%
	{
		transform: translateX(-100%);
	}
}

@keyframes animate2
{
	0%
	{
		transform: translateX(0%);
	}

	100%
	{
		transform: translateX(-200%);
	}
}

/*Responsive*/

@media screen and  (max-width: 1400px)
{
	.slider
	{
		width: 85%;
	}
}

@media screen and  (max-width: 1200px)
{
	.logo-studio-zerance
	{
		width:300px;
	}

	.studio-slogan
	{
		max-width: 500px;
		font-size: 21x;
	}

	.header
	{
		height:90px;
	}

	.text-header
	{
		font-size: 10px;
		float: right;
		margin:  25px;
		display: none;
	}

	.logo-header
	{
		display: block;
		float: right;
		margin:  10px;
		font-size: 25px;
	}

	.studio-zerance-birth
	{
		font-size: 30px;
	}

	#clients-grid
	{
		display: grid;
		grid-template-columns:33.33%  33.33%  33.33% ;
		grid-template-rows: 20% 20% 20% 20% 20% ;
		width: 80%;
		margin: auto ;
		border: 40px black solid;
	}

	#clients-grid
	{
		height:800px;
	}

	#clients-grid img
	{
		height:50%;
	}

	.great-customers
	{
		margin:20px;
		font-size: 26px;
		;
	}

	.slider
	{
		width: 90%;
	}

	.slider-text
	{
		top:25%;
		left:25%;
		width: 55%;
		max-width: 500px;
		max-height: 550px;
		font-size:26px;
		font-weight: 500;
	}

	.from-scratch
	{
		font-weight: 100;
	}

	.underline2
	{
		font-size: 20px;
	}

	#nextBtn
	{
		top:50%;
		left:80%;
		font-size: 75px;
	}
}

@media screen and  (max-width: 860px)
{
	.logo-studio-zerance
	{
		width:200px;
	}

	.studio-slogan
	{
		max-width: 400px;
		font-size: 18px;
	}

	.studio-zerance-birth
	{
		font-size:18px;
	}

	ul li
	{
		display: inline;
		margin: 0 12px;
	}

	.slider-text
	{
		max-height: 650px;
	}
}

@media screen and  (max-width: 700px)
{
	.logo-studio-zerance
	{
		width:150px;
	}

	.studio-slogan
	{
		max-width: 200px;
		font-size: 16px;
	}

	.studio-zerance-birth
	{
		font-size:16px;
	}

	ul li
	{
		display: inline;
		margin: 0 6px;
	}

	.great-customers
	{
		font-size: 16px;
	}

	.slider-text
	{
		top:25%;
		left:15%;
		width: 65%;
		max-width: 600px;
		max-height: 900;
		font-size:20px;
	}

	.underline2
	{
		font-size: 20px;
	}
}

@media screen and  (max-width: 485px)
{
	.logo-studio-zerance
	{
		width:100px;
	}

	.studio-slogan
	{
		max-width: 200px;
		font-size: 14px;
	}

	.studio-zerance-birth
	{
		font-size:10px;
	}

	.logo-header
	{
		font-size:16px;
	}

	.great-customers
	{
		font-size: 8px;
		width:100%;
	}

	.slider-text
	{
		left:10%;
		max-width: 600px;
		max-height: 1900;
		font-size:16px;
	}

	.underline2
	{
		font-size: 15px;
	}

	#clients-grid
	{
		display: grid;
		grid-template-columns:50% 50%;
		grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%    ;
		width: 100%;
		margin: auto ;
		border: 2px black solid;
	}
}

@media screen and  (max-width: 384px)
{
	.logo-studio-zerance
	{
		width:50px;
	}

	.studio-slogan
	{
		max-width: 200px;
		font-size: 10px;
	}

	.studio-zerance-birth
	{
		font-size:10px;
	}

	.studio-presentation
	{
		height:250px;
	}

	.logo-header
	{
		font-size:10px;
	}

	.great-customers
	{
		font-size: 8px;
		width:100%;
	}

	.slider-text
	{
		left:5%;
		width:80%;
		height:40%;
		max-width: 1050px;
		font-size:12px;
	}

	.underline2
	{
		font-size: 15px;
	}

	#nextBtn
	{
		left:85%;
		font-size: 45px;
	}
}